/* Rule for the <body> tag */
body {
  background-color: #00b3e6;
}

/* Rule for <div> tags */
div {
  width: 700px;
  margin: auto;
  font-family: 'Helvetica Neue';
  background-color: white;
  padding: 30px;
}

/* Rule for elements with an id of main-header */
#main-header {
  font-size: 22px;
}

/* Rule for elements with a class of perspective-questions */
.perspective-questions {
  font-style: italic;
}
